<%#
	Copyright 2020 Xingwang Liao <kuoruan@gmail.com>
	Licensed to the public under the MIT License.
-%>

<%
local dsp = require "luci.dispatcher"
-%>

<div class="cbi-section">
	<div class="cbi-section-descr">
		<input type="button" class="cbi-button" value="<%:Import%>" onclick="return import_outbound(this);" />
		<span style="margin-left: 5px;"><%=translatef("Allowed link format: <code>%s</code>", "vmess://xxxxx")%></span>
	</div>
</div>

<script type="text/javascript">//<![CDATA[
function import_outbound() {
	var title = '<%:Vmess link:%>'

	var children = [E('p', {}, '<%:Import multiple vmess:// links at once. One link per line.%>')];

	children.push(E('textarea', {
		'name': 'link',
		'rows': 10
	}));

	var cancelButton = E('div', {
		'class': 'btn cbi-button-neutral',
		'click': L.hideModal
	}, '<%:Cancel%>');

	var importButton = E('div', {
		'class': 'btn cbi-button-positive',
		'click': function (ev) {
			var btn = ev.target;
			var link = findParent(ev.target, '.modal').querySelector('textarea[name=link]').value;

			if (!link) return;

			if (!/^(vmess:\/\/[\w+=]+\s*)+$/.test(link)) {
				window.alert('<%:Unsupported Link%>');
				return;
			}

			btn.classList.add('disabled');
			btn.innerText = '<%:Importing...%>';

			L.post('admin/services/v2ray/import-outbound', {
				link: link
			}, function (x, data) {
				btn.classList.remove('disabled');
				btn.innerText = '<%:Import%>';

				if (x.status === 200 && data) {
					if (data.success) {
						window.alert('<%:Link imported%>');
						window.location.reload();
					} else {
						window.alert(data.message || '<%:Import failed%>');
					}
				}
			});
		}
	}, '<%:Import%>');

	children.push(E('div', {
		'class': 'right'
	}, [cancelButton, ' ', importButton]));

	L.showModal(title, children);
}

//]]></script>
