<%#
 Copyright 2019 Xingwang Liao <kuoruan@gmail.com>
 Licensed to the public under the MIT License.
-%>

<%
local dsp = require "luci.dispatcher"
-%>

<fieldset class="cbi-section">
	<p id="v2ray_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>

<script type="text/javascript">//<![CDATA[
	XHR.poll(5, '<%=dsp.build_url("admin/services/v2ray/status")%>', null,
		function (x, data) {
			if (x.status !== 200 || !data) {
				return;
			}
			var v2rayStatusElm = document.getElementById('v2ray_status');
			v2rayStatusElm.innerHTML = data.running
				? '<%:Running%>'
				: '<%:Not Running%>';
		}
	);
//]]></script>
